backports.cached-property >= 1.0.2
grpcio == 1.54.0
grpcio-tools == 1.54.0
protobuf==4.22.4
robotframework >=5.0.1
robotframework-pythonlibcore >= 4.1.2
robotframework-assertion-engine >= 1.0.0
typing-extensions >= 4.4.0
wrapt >= 1.14.1
overrides >= 7.3.1
