backports.cached-property >= 1.0.2
grpcio == 1.56.2
grpcio-tools == 1.56.2
protobuf == 4.23.4
robotframework >= 5.0.1
robotframework-pythonlibcore >= 4.2.0
robotframework-assertion-engine >= 1.0.0
typing-extensions >= 4.5.0
wrapt >= 1.15.0
overrides >= 7.3.1
