version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      eslint:
        patterns:
        - "@typescript-eslint*"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      grpc:
        patterns:
        - "grpcio*"
        - "protobu*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
