Browser/wrapper/*.js
Browser/wrapper
Browser/generated
Browser/__init__.pyi
Browser/**/*.pyc
node/playwright-wrapper/generated

node/dynamic-test-app/dist/*.js
node/dynamic-test-app/src/*.js
*.js.map

.idea
.pabotsuitenames
.mypy_cache
__pycache__
robotframework_browser.egg-info/
.venv

node/.linted

# Robot Framework outputs
log.html
output.xml
report.html
atest/output
playwright-log.txt
lsp

node_modules/
dist
build
pip-wheel-metadata
tmp
.vscode
