name: Release tasks

on:
  release:
    types: [ published ]


jobs:
  docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build prerequisite Playwright-focal image
        run: |
          DOCKER_BUILDKIT=1 docker build --tag playwright-focal --file atest/docker/Dockerfile.playwright20.04 .
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: marketsquare/robotframework-browser
          name: rfbrowser-stable
          tag_with_ref: true
          dockerfile: atest/docker/Dockerfile.latest_release
