# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install nodejs dependencies
      run: |
        yarn --frozen-lockfile
        npm install --global playwright
        yarn install
        yarn build
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r dev-requirements.txt
    - name: Check types with mypy
      run: |
        mypy .
    - name: Check with flake8
      run: |
        flake8
    - name: Run pytests
      run: |
        pytest
    - name: Run Robot Framework tests
      run: |
        ROBOT_SYSLOG_FILE=atest/output/syslog.txt robot --outputdir atest/output --pythonpath . atest/test
    - uses: actions/upload-artifact@v1
      if: success() || failure()
      with:
        name: Test results
        path: atest/output
